* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}
body {
  padding: 1em;
}
img {
  width: 100%;
}
.stickyHeading {
  text-align: center;
  position: sticky;
  top: 0;
  color: white;
  margin: 0;
  display: none;
  font-size: 10vw; /* vw is responsive to viewport size */
}
