* {
  box-sizing: border-box;
  margin: 0;
}

/* Main containers */

html,
body {
  margin: 0;
  font-size: 1.1em;
}
body {
  padding: 0.5em;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
}
.image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2px;
}

/* Fonts */
body {
  font-family: 'Muli';
  letter-spacing: 3px;
}
h1,
h2,
h3 {
  font-family: 'Philosopher', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 4.5rem;
  text-align: center;
  text-shadow: 0px 21px 3px blue;
}
h2 {
  text-align: center;
  font-size: 2rem;
  letter-spacing: 5px;
}
h3 {
  font-size: 2rem;
}

.contact:hover {
  color: blue;
}
.link {
  /* anchor tag*/
  color: black;
  text-decoration: underline;
  font-weight: bold;
}

.stickyHeading {
  text-align: center;
  position: sticky;
  top: 0;
  color: white;
  margin: 0;
  display: none;
  font-size: 10vw; /* vw is responsive to viewport size */
}

/* Lists */

ul {
  list-style-type: none;
  padding: 0;
}
ol {
  list-style-type: circle;
}
.infos-list > li {
  margin: 0.9em 0;
}
.date {
  font-style: italic;
}

/* Images */

img {
  width: 100%;
}
.image-container img {
  display: block; /* To fully fit in the anchor tag */
}

/* Spacing */
.vertical-sm {
  margin: 0.3em 0;
}
.vertical-m {
  margin: 0.8em 0;
}

/* Misc custom classes */
.message {
  font-style: italic;
}

@media (min-width: 700px) {
  h1 {
    font-size: 6em;
  }
  h2 {
    font-size: 3em;
    text-align: end;
    letter-spacing: 3px;
  }
  .image-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1000px) {
  .image-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
